bin
classes
test-output
*~
\#*
clitest/src/test/resources/testng-dev.xml
sahi/src/test/resources/testng-dev.xml
.gradle
build
*/.gradle
*/build
.settings
.project
.classpath
target
*.iml
.idea
*.py[oc]
.pydevproject
**/.cache
