<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RHQ_4.0_UI_Test">
	<test name="InventoryTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.InventoryTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="inventoryTest"/>
			</run>
		</groups>
	</test>
	<test name="BundleTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.BundleTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="bundleTest"/>
			</run>
		</groups>
	</test>
	<test name="TopLevelMenusTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.TopLevelMenusTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="TopLevelMenusTest"/>
			</run>
		</groups>
	</test>
	<test name="CreateDeleteUserTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.CreateDeleteUserTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="CreateDeleteUserTest"/>
			</run>
		</groups>
	</test>
	<test name="CreateDeleteRoleTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.CreateDeleteRoleTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="CreateDeleteRoleTest"/>
			</run>
		</groups>
	</test>
</suite>
