<suite name="RHQ_4.0_UI_Test">

	<!-- Listener to clear pop-up's if any on test failure-->
  	<listeners>
    	<listener class-name="com.redhat.qe.jon.sahi.tasks.ClearBrowserScreenListener" />
  	</listeners>

	<test name="InventoryTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.InventoryTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="inventoryTest"/>
				<include name="inventoryConfiguration"/>
				<!--include name ="messageCenter"/-->
								
			</run>
		</groups>
	</test>
	<test name="BundleTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.BundleTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="bundleTest"/>
			</run>
		</groups>
	</test>
	<test name="TopLevelMenusTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.TopLevelMenusTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="TopLevelMenusTest"/>
			</run>
		</groups>
	</test>
	
	
	<test name="ReportsTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.ReportsTest" />
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="ReportsTest"/>
			</run>
		</groups>
	</test>
	<test name="DashboardTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.DashboardTest" />
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="DashboardTest"/>
			</run>
		</groups>
	</test>

	<test name="ResourcesTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.ResourceTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="resourceTest"/>
				<!--include name="resourceSearchTest"/-->
			</run>
		</groups>
	</test>
	<test name="AdministrationTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AdministrationTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="user"/>
				<include name="role"/>
				<include name="userAndRole"/>

			</run>
		</groups>
	</test>
    <test name="HelpTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.HelpTest" />
		</classes>
		<groups> 
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="HelpTest"/>
			</run>
		</groups>
	</test>
	<test name="RecentOperationsTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.RecentOperationsTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="recentOperations"/>
			</run>
		</groups>
	</test>

	<test name="FavouriteTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.FavouritesTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="FavouriteTest"/>
			</run>
		</groups>
	</test>
	
	<test name="AlertDefinitionCreationTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="createAlert"></include>
			</methods>
			</class>
		</classes>
	</test>	
	
	<test name="PluginsTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.PluginsTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="PluginsTest"/>
			</run>
		</groups>
	</test>
	
	<test name="AlertHistoryValidationTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="validateAlertHistoryPage"></include>
			</methods>
			</class>
		</classes>
	</test>

	<test name="Individualconfig">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.IndividualConfigTest">
			<methods>
				<include name="individualconfig"></include>
			</methods>
			</class>
		</classes>
	</test>
	
	<test name="Configuration History">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.ConfiurationHistoryTest">
			<methods>
				<include name="configuration history"></include>
			</methods>
			</class>
		</classes>
	</test>
		
  	<test name="AlertHistoryDeletionTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="deleteAlertHistory"></include>
			</methods>
			</class>
		</classes>
	</test>	
  	
	<test name="AlertDefinitionDeletionTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="deleteAlertDefinition"></include>
			</methods>
			</class>
		</classes>
	</test>
	
	<test name="Schedule Resources">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.SchedulingForResourcesTest">
			<methods>
				<include name="scheduleResources"></include>
			</methods>
			</class>
		</classes>
	</test>
	
	
	<test name="Group Config">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.GroupConfigTest">
			<methods>
				<include name="group config "></include>
			</methods>
			</class>
		</classes>
	</test>

	<test name="Scheduling Groups">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.SchedulingForGroupsTest">
			<methods>
				<include name="schedule groups"></include>
  			</methods>
			</class>
		</classes>
	</test>
	
	<test name="Drift management-Create-[add/change/remove]-Delete">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.DriftManagementTest">
			<methods>
				 <include name="createDrift"></include>
				 <include name="driftActionFileAdd"></include>
				 <include name="driftActionFileChange"></include>
				 <include name="driftActionFileRemove"></include>
				<include name="trashDrift"></include>
			</methods>
			</class>
		</classes>
	</test>

	<test name="Administration JSP page validation">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AdministrationPages">
			<methods>
				 <include name="pageServers"></include>
				 <include name="pageAgents"></include>
				 <include name="pageAffinityGroups"></include>
				 <include name="pagePartitionEvents"></include>
				 <include name="pageContentSources"></include>
				 <include name="pageRepositories"></include> 
			</methods>
			</class>
		</classes>
	</test>

	<test name="Search groups...">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.SearchTest">
			<methods>
				<include name="search"></include>
			</methods>
			</class>
		</classes>
		
	</test>

</suite>


	
</suite>
