<suite name="RHQ REST JAVA Client Test">

  	<listeners>
  	  	<!-- Listener to send report to Report Engine Server -->
  	  	<listener class-name="com.redhat.reportengine.client.ReportEngineTestNGListner" />
  	</listeners>


  	<test name="Login Test Negative">
  	  	<classes>
			<class name="com.redhat.qe.jon.rest.tests.RestTest">		
			<methods>
				<parameter name="rest.username" value="rhquser"/>
				<parameter name="rest.password" value="rhquser"/>
				<parameter name="test.type" value="negative"/>	
				<include name="unauthorizedLoginTest"></include>		
				<include name="loginTest"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	
  	<test name="Login Test Positive">
  	  	<classes>
			<class name="com.redhat.qe.jon.rest.tests.RestTest">		
			<methods>
				<parameter name="rest.username" value="rhqadmin"/>
				<parameter name="rest.password" value="rhqadmin"/>
				<parameter name="test.type" value="positive"/>			
				<include name="loginTest"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	
  	<test name="Visit Platforms">
  	  	<classes>
			<class name="com.redhat.qe.jon.rest.tests.RestTest">		
			<methods>
				<include name="visitURIplatforms"></include>
			</methods>
			</class>
		</classes>
  	</test>
  	
   <test name="Validate Children">
  	  	<classes>
			<class name="com.redhat.qe.jon.rest.tests.RestTest">		
			<methods>
				<include name="validateChildren"></include>
			</methods>
			</class>
		</classes>
  	</test>
</suite>