<suite name="RHQ 4.x core UI Test">

  	<listeners>
  		<!-- Listener to make tests annotated with @SkipIf skipped -->
      <listener class-name="com.redhat.qe.auto.testng.SkipTestNGListener" />
  	  	<!-- Listener to send report to Report Engine Server -->
  	  	<listener class-name="com.redhat.reportengine.client.ReportEngineClientTestNGListener" />
  	  	<!-- Listener to clear pop-up's if any on test failure-->
    	<listener class-name="com.redhat.qe.jon.sahi.tasks.ClearBrowserScreenListener" />
  	</listeners>

  	<test name="GuiLoginTest">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.base.LoginLogoutTest">
			<parameter name="gui.username" value="rhqadmin"/>
			<parameter name="gui.password" value="rhqadmin"/>			
			<methods>
				 <include name="loginTest"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	  	
  <test name="Version Information">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.tests.BuildVersionInfoTest">
			<methods>
				 <include name="getBuildInfo"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	  	
  	<test name="Metric Collection Schedules validation">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.SchedulingForResourcesTest">
			<methods>
				 <include name="enableMetric"></include>
				 <include name="disableMetric"></include>
				 <include name="updateMetric"></include> 
			</methods>
			</class>
		</classes>
	</test>
	
  	<test name="AlertDefinitionCreationTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="createAlert"></include>
			</methods>
			</class>
		</classes>
	</test>	
	
	<test name="InventoryTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.InventoryTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="inventoryTest"/>
				<include name="inventoryConfiguration"/>
				<!--include name ="messageCenter"/-->
								
			</run>
		</groups>
	</test>
	<test name="BundleTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.BundleTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="bundleTest"/>
			</run>
		</groups>
	</test>
	<test name="TopLevelMenusTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.TopLevelMenusTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="TopLevelMenusTest"/>
			</run>
		</groups>
	</test>
	
	
	<test name="ReportsTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.ReportsTest" />
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="ReportsTest"/>
			</run>
		</groups>
	</test>
	<test name="DashboardTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.DashboardTest" />
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="DashboardTest"/>
			</run>
		</groups>
	</test>

	<test name="ResourcesTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.ResourceTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="resourceTest"/>
				<!--include name="resourceSearchTest"/-->
			</run>
		</groups>
	</test>
	<test name="AdministrationTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AdministrationTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="user"/>
				<include name="role"/>
				<include name="userAndRole"/>

			</run>
		</groups>
	</test>
    <test name="HelpTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.HelpTest" />
		</classes>
		<groups> 
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="HelpTest"/>
			</run>
		</groups>
	</test>
	<test name="RecentOperationsTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.RecentOperationsTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="recentOperations"/>
			</run>
		</groups>
	</test>

	<test name="FavouriteTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.FavouritesTest"/>
		</classes>
		<groups>
			<run>
				<include name="setup"/>
				<include name="teardown"/>
				<include name="FavouriteTest"/>
			</run>
		</groups>
	</test>
	
	<test name="PluginsTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.PluginsTest">
			<methods>
				 <include name="validateAgentPlugins"></include>
				 <include name="validateServerPlugins"></include>
			</methods>
			</class>
		</classes>
	</test>
		
	<test name="Individualconfig">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.IndividualConfigTest">
			<methods>
				<include name="individualconfig"></include>
			</methods>
			</class>
		</classes>
	</test>
	
	<test name="Configuration History">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.ConfiurationHistoryTest">
			<methods>
				<include name="configuration history"></include>
			</methods>
			</class>
		</classes>
	</test>
			
	<test name="Group Config">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.GroupConfigTest">
			<methods>
				<include name="group config "></include>
			</methods>
			</class>
		</classes>
	</test>

	<test name="SubNavigationMenuTests">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.tests.SubNavigationMenuTests">
			<methods>
				<include name="subNavigationMenuLinksExist"></include>
				<include name="checkAutoGroupSubnavigation"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	
  	
	<test name="Administration JSP page validation">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AdministrationPages">
			<methods>
				 <include name="pageServers"></include>
				 <include name="pageAgents"></include>
				 <include name="pageAffinityGroups"></include>
				 <include name="pagePartitionEvents"></include>
				 <include name="pageContentSources"></include>
				 <include name="pageRepositories"></include> 
			</methods>
			</class>
		</classes>
	</test>
	
	<test name="Drift management-Create-[add/change/remove]-Delete">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.DriftManagementTest">
			<methods>
				 <include name="createDrift"></include>
				 <include name="driftActionFileAdd"></include>
				 <include name="driftActionFileChange"></include>
				 <include name="driftActionFileRemove"></include>
				<include name="trashDrift"></include>
			</methods>
			</class>
		</classes>
	</test>

	<test name="AlertHistoryValidationTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="validateAlertHistoryPage"></include>
			</methods>
			</class>
		</classes>
	</test>
	
  	<test name="AlertHistoryDeletionTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="deleteAlertHistory"></include>
			</methods>
			</class>
		</classes>
	</test>	
  	
	<test name="AlertDefinitionDeletionTest">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertTest">
			<methods>
				<include name="deleteAlertDefinition"></include>
			</methods>
			</class>
		</classes>
	</test>
	
	
	<test name="Scheduling Groups">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.SchedulingForGroupsTest">
			<methods>
				<include name="schedule groups"></include>
  			</methods>
			</class>
		</classes>
	</test>

	<test name="Search groups...">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.SearchTest">
			<methods>
				<include name="search"></include>
				<include name="delete"></include>
			</methods>
			</class>
		</classes>
		
	</test>
	
	<test name="Permissions Test">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.PermissionsTest">
			<methods>
				<include name="checkManageSecurity"></include>
				<include name="checkManageInventory"></include>
				<include name="checkManageRespository"></include>
				<include name="checkViewUsers"></include>
				<include name="checkManageSettings"></include>
				<include name="checkManageBundles"></include>
				<include name="checkGroupsPermission"></include>
			</methods>
			</class>
		</classes>
		
	</test>
	<test name="Alert Definition Template">
		<classes>
			<class name="com.redhat.qe.jon.sahi.tests.AlertDefinitionTemplateTest">
			<methods>
				<include name="alertDefinitionsTemplate"></include>
			</methods>
			</class>
		</classes>
		
	</test>
	
	<test name="CheckAlertDefTempCreated">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.tests.alerts.CheckAlertDefTempCreatedTest">
			</class>
		</classes>
  	</test>
	
	  <test name="Drift Definition Template">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.tests.DriftDefinitionTemplateTest">
			<methods>
				 <include name="createDriftDefinitionTemplate"></include> 
				 <include name="editDriftDefinitionTemplate"></include> 
				 <include name="deleteDriftDefinitionTemplate"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	
  	<!--
  	<test name="AlertDefinitionTest">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.tests.alerts.AlertDefinitioinTest">
			
			</class>
		</classes>
  	</test>
	-->
	<test name="StorageAutoInventoryTest">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.tests.autoinventory.StorageAutoInventoryTest">
			</class>
		</classes>
  	</test>
  	
  	<test name="StorageNode">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.tests.StorageNodesTest">
			</class>
		</classes>
  	</test>
  	
  	<test name="GuiLDAPUserLoginTest">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.base.LoginLogoutTest">
			<parameter name="ldap.username" value="jonqa"/>
			<parameter name="ldap.password" value="jonqa"/>
			<parameter name="ldap.first.name" value="JON"/>	
			<parameter name="ldap.last.name" value="QA"/>	
			<parameter name="ldap.email" value="jonqa@redhat.com"/>	
			<parameter name="ldap.phone.number" value="9999999999"/>	
			<parameter name="ldap.department" value="QE"/>	
			<methods>
				 <include name="ldapLoginTest"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	
  	<test name="GuiLogoutTest">
  	  	<classes>
			<class name="com.redhat.qe.jon.sahi.base.LoginLogoutTest">
			<methods>
				 <include name="logoutTest"></include> 
			</methods>
			</class>
		</classes>
  	</test>
  	
</suite>
