<suite name="RHQ CLI JS/JAVA Test">

  	<listeners>
  	  	<!-- Listener to send report to Report Engine Server -->
  	  	<listener class-name="com.redhat.reportengine.client.ReportEngineTestNGListner" />
  	</listeners>


<parameter name="cli.username"  value="rhqadmin"/>
<parameter name="cli.password"  value="rhqadmin"/>
<!-- <parameter name="rhq.target"  value="mercury.lab.eng.pnq.redhat.com"/> -->
<parameter name="make.failure"  value="Login failed:,No such file or directory"/>

<!-- Remove all the platforms before starting CLI test, This will help to validate import resource CLI test-->
<test name="Uninventory-Platforms">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="UninventoryResources.js"/>
			<parameter name="expected.result"  value="Login successful,All Platforms successfully removed from server"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="Impoert-Resources">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="ImportResourcers.js"/>
			<parameter name="expected.result"  value="Login successful,Resources are impoerted successfully"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="roles">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="roles.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>



<test name="subjects">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="subjects.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>



<test name="subjectsusercreate">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="subjectsusercreate.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="systemmanager">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="systemmanager.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>


<test name="measurementdefinitions">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="measurementdefinitions.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>


<test name="resourcetypemanager">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="resourcetypemanager.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="dataaccessmanager">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="dataaccessmanager.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="example30">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="example30.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>


<test name="example31">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="example31.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="repo">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="repo.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>




<!-- This case SHOULD BE LAST ONE-->
<!-- Remove all the platforms on completion of all CLI test, This will help to validate import resource on other test suites like GUI automation-->
<test name="Uninventory-Platforms">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="UninventoryResources.js"/>
			<parameter name="expected.result"  value="Login successful,All Platforms successfully removed from server"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

</suite>
