<suite name="RHQ CLI JS/JAVA Test">

  	<listeners>
  	  	<!-- Listener to send report to Report Engine Server -->
  	  	<listener class-name="com.redhat.reportengine.client.ReportEngineTestNGListner" />
  	  	<!-- Listener to check agent.log and potentially fail tests, where ERROR in log was found 
  		<listener class-name="com.redhat.qe.tools.remotelog.RemoteLogCheckTestNGListener" />
  		-->
  	</listeners>


<parameter name="cli.username"  value="rhqadmin"/>
<parameter name="cli.password"  value="rhqadmin"/>
<!-- <parameter name="rhq.target"  value="mercury.lab.eng.pnq.redhat.com"/> -->
<parameter name="make.failure"  value="Login failed:,No such file or directory"/>


<test name="discoveryScan">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="discoveryScan.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<!-- Remove all the platforms before starting CLI test, This will help to validate import resource CLI test -->
<test name="Uninventory-Platforms-Start">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="UninventoryResources.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful,All Platforms successfully removed from server"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="Import-Resources">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="ImportResources.js"/>
			<parameter name="expected.result"  value="Login successful,Resources are imported successfully"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>


<!-- 	***********************************************************************************************
		<start> Examples from jon documentation, chapter Short Examples 
		http://docs.redhat.com/docs/en-US/JBoss_Operations_Network/3.1/html/Dev_Writing_JON_Command-Line_Scripts/building-blocks.html
		***********************************************************************************************
-->

<test name="serchExamples">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/searchExamples.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="gettingIdForObject">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/gettingIdForObject.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="gettingDataForSingleAndMultipleRes">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/gettingDataForSingleAndMultipleRes.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="settingMethodVariableToString">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/settingMethodVariableToString.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="creatingContentBackedRes">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/creatingContentBackedRes.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="res.src" value="/deployments/MiscBeans-3.2.2.ear" />
			<parameter name="res.dst" value="/tmp/MiscBeans-3.2.2.ear" />
			<parameter name="cli.args" value="--args-style=named deployment=/tmp/MiscBeans-3.2.2.ear"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<!-- currently failing because of bug https://bugzilla.redhat.com/show_bug.cgi?id=851145 -->
<test name="updatingContentBackedRes">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/updatingContentBackedRes.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="res.src" value="/deployments/MiscBeans-3.2.5.ear" />
			<parameter name="res.dst" value="/tmp/MiscBeans-3.2.5.ear" />
			<parameter name="cli.args" value="--args-style=named deployment=/tmp/MiscBeans-3.2.5.ear"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="deletingContentBackedRes">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/deletingContentBackedRes.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="creatingResGroupsAndAddingMembers">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/creatingResGroupsAndAddingMembers.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="viewingPluginConfForResType">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/viewingPluginConfForResType.js"/>
			<parameter name="expected.result"  value="Login successful,ConfigurationDefinition,name: Linux"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="viewingConfPropFroResType">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/viewingConfPropFroResType.js"/>
			<parameter name="expected.result"  value="Login successful,ConfigurationDefinition:,name: RHQ Agent"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<!-- currently failing, see bug https://bugzilla.redhat.com/show_bug.cgi?id=815899 -->
<test name="viewingResConfSettings">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/viewingResConfSettings.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful,rhq.agent.server.bind-port = 7080"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="changingSimpleProperty">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/changingSimpleProperty.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<!-- this functionality is covered in gettingDataForSingleAndMultipleRes.js 
<test name="simpleStart">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/simpleStart.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>
-->

<test name="startingArray">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/startingArray.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="immediateOperation">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/immediateOperation.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful,Invoking operation executeAvailabilityScan"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="scheduledOperation">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/scheduledOperation.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="viewingOpHistory">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/viewingOpHistory.js"/>
			<parameter name="js.depends" value="rhqapi.js" />
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="currentAvailability">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/currentAvailability.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="gettingSpecificMetrics">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/gettingSpecificMetrics.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="exportingAllMetricsDefForLinux">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/exportingAllMetricsDefForLinux.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<!-- TODO baselines are collected by default each 3 days, data must be prepared
<test name="gettingBaselineCalculations">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/gettingBaselineCalculations.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>
-->

<!-- TODO prepare alarm definitions
<test name="ackAlertsForPlatform">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/ackAlertsForPlatform.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>
-->

<!-- TODO prepare alarm definitions
<test name="disablingAlertsBasedOnPriority">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/disablingAlertsBasedOnPriority.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>
-->

<test name="newRole">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/newRole.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>

<test name="creatingUserAndRoles">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="docExample/jon/short/creatingUserAndRoles.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>



<!-- 	***********************************************************************************************
		<end> Examples from jon documentation, chapter Short Examples 
		http://docs.redhat.com/docs/en-US/JBoss_Operations_Network/3.1/html/Dev_Writing_JON_Command-Line_Scripts/building-blocks.html
		***********************************************************************************************
-->





<!-- 	
		***********************************************************************************************
		<start> CLI scripts for bug reproduction
		***********************************************************************************************
-->


<!-- blocked by https://bugzilla.redhat.com/show_bug.cgi?id=814579--> 
<test name="Bug814579">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="bugs/bug814579.js"/>
                        <parameter name="expected.result"  value="Login successful,ResourceManagerBean"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>


<!-- 	
		***********************************************************************************************
		<stop> CLI scripts for bug reproduction
		***********************************************************************************************
-->



<!-- 	
		***********************************************************************************************
		<start> Examples from rhq documentation, Running the RHQ CLI 
		https://docs.jboss.org/author/display/RHQ/Running+the+RHQ+CLI
		***********************************************************************************************
-->

<test name="displayingOutputExample">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="docExample/rhq/displayingOutputExample.js"/>
                        <parameter name="expected.result"  value="Login successful,name=Memory Subsystem,name: Memory Subsystem"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<test name="echo_args">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="docExample/rhq/echo_args.js"/>
                        <parameter name="cli.args" value="--args-style=named x=1 y=2"/>
                        <parameter name="expected.result"  value="Login successful, named args...,x = 1,y = 2"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<!-- currently failing, see bug https://bugzilla.redhat.com/show_bug.cgi?id=815899 -->
<test name="proxyExample">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="docExample/rhq/proxyExample.js"/>
                        <parameter name="js.depends" value="rhqapi.js" />
                        <parameter name="expected.result"  value="Login successful,OSName:,Invoking operation viewProcessList,Invoking operation updateAllPlugins,rhq.agent.plugins.directory ="/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>


<!-- 	
		***********************************************************************************************
		<end> Examples from rhq documentation, Running the RHQ CLI 
		https://docs.jboss.org/author/display/RHQ/Running+the+RHQ+CLI
		***********************************************************************************************
-->

<test name="roles">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="roles.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>     
		</class>   
	</classes>
</test>



<test name="subjects">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="subjects.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>



<test name="subjectsusercreate">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="subjectsusercreate.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="systemmanager">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="systemmanager.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>


<test name="measurementdefinitions">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="measurementdefinitions.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>


<test name="resourcetypemanager">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="resourcetypemanager.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<test name="dataaccessmanager">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="dataaccessmanager.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>
<test name="repo">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="repo.js"/>
			<parameter name="expected.result"  value="Login successful"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

<!-- currently failing, see bug https://bugzilla.redhat.com/show_bug.cgi?id=841625 -->
<test name="userRoles">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="userRoles.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<!-- currently failing, see bug https://bugzilla.redhat.com/show_bug.cgi?id=841625 -->
<test name="testPermissions-ManageInventory">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="permissions/testPermissions-ManageInventory.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<!-- Can't commit because the transaction is in aborted state - this is caused because of creating of duplicate role. 
This role is already created in previous test. This test must be fixed. Same for userName-->  
<test name="testPermissions-ManageSecurity">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="permissions/testPermissions-ManageSecurity.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<!-- Can't commit because the transaction is in aborted state - this is caused because of creating of duplicate role. 
This role is already created in previous test. This test must be fixed. Same for userName-->
<test name="testPermissions-ViewUsers">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="permissions/testPermissions-ViewUsers.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<!-- works only for JON-->
<test name="testPermissions-ManageBundles">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="permissions/testPermissions-ManageBundles.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<!-- works only for JON-->
<test name="testPermissions-ManageSettings">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="permissions/testPermissions-ManageSettings.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<!-- works only for JON-->
<test name="testPermissions-ManageRepositories">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="permissions/testPermissions-ManageRepositories.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>

<test name="create_delete_driftTemplate">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="create_delete_driftTemplate.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>


<test name="OperationManager">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.CliTest">
                        <parameter name="js.file"  value="viewProcessList.js"/>
                        <parameter name="expected.result"  value="Login successful"/>
                        <methods>
                                <include name="runJSfile"></include>
                        </methods>
                </class>
        </classes>
</test>


<!--  This case SHOULD BE LAST ONE or before the one -->
<!--  Doing inventory and Uninventory for N number times -->
<test name="InventoryConsistency">
        <classes>
                <class name="com.redhat.qe.jon.clitest.tests.InventoryConsistencyTest">
                        <methods>
                                <include name="importAndUninventory"></include>
                        </methods>
                </class>
        </classes>
</test>


<!--  This case SHOULD BE LAST ONE -->
<!-- Remove all the platforms on completion of all CLI test, This will help to validate import resource on other test suites like GUI automation -->
<test name="Uninventory-Platforms-End">
  	<classes>
		<class name="com.redhat.qe.jon.clitest.tests.CliTest">	
			<parameter name="js.file"  value="UninventoryResources.js"/>
			<parameter name="js.depends" value="rhqapi.js" />			
			<parameter name="expected.result"  value="Login successful,All Platforms successfully removed from server"/>
			<methods>
				<include name="runJSfile"></include>		
			</methods>
		</class>
	</classes>
</test>

</suite>
